p{
    color: green;
    font-size:1.5em;
}
#idLabel{
    color:red;
    font-size:1.5em;
    background-color:yellow;
    padding-left:45%;
    border:solid black;
}
.pAlert{
    font-family:verdana,arial;
    font-size:80%;
    color:black;
    text-align:center;
}
.pTitle{
    font-family:verdana,arial;
    font-size:80%;    
    color:red;
    text-align:center;
}


